@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeList.Models.AddEmployeeViewModel
<h1>Add Employee</h1>
<form method="post">
    
    <div class="mt-2">
        <label class="form-control">First Name</label>
        <input type="text" class="form-control"asp-for="EmployeeFName"/>
    </div>

    <div class="mt-5">
        <label class="form-control">Last Name</label>
        <input type="text" class="form-control"asp-for="EmployeeLName"/>
    </div>

    <div class="mt-5">
        <label class="form-control">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-5">
        <label class="form-control">Age</label>
        <input type="number" class="form-control" min="16" max="60" asp-for="Age" />
    </div>

    <div class="mt-5">
        <label class="form-control">Employee Post </label>
        <input type="text" class="form-control" asp-for="EmployeePost" />
    </div>

     <div class="mt-5">
        <label class="form-control">Salary</label>
        <input type="number" class="form-control" asp-for="Salary" />
    </div>
          
    <div class="mt-5">
        <label class="form-control">Employee Experience</label>
        <input type="text" class="form-control" asp-for="Experience" />
    </div>
          
    <div class="mt-5">
        <button class="btn btn-primary" type="submit">Add Employee</button>
    </div>
</form>